#tooltip {
	position: absolute;
	height: 4px;
	padding-bottom: 9px;
	padding-top: 1px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 0px;
	pointer-events: none;
    border: 1px solid #777777;
    font-family: helvetica;
	font-size: 10px;
	text-align: center;
}

.text {
	font-family: helvetica;
	/*font-size: 13px;;*/

}
